<main>
	<!--Main layout-->
	<div class="container">
		<form name="Login.AlunoForm" ng-submit="Login.criarUsuario(Login.form)" novalidate>
			<div class="row">
				<h2>Criar:</h2>
			</div>		
			
			<div class="row">
				<div class="input-field col s12">
					<label for="nome" class="active">Nome</label>
					<input type="text" placeholder="Informe o nome" ng-model="Login.form.nome" id="nome" autofocus>
				</div>
				
				<div class="input-field col s12">
					<label for="email" class="active">E-mail</label>
					<input type="email" placeholder="Informe o seu E-mail" ng-model="Login.form.email" id="email">
				</div>
				
				<div class="input-field col s12">
					<input type="password" placeholder="Informe sua senha" id="senha" ng-model="Login.form.senha">
					<label for="senha" class="active">Senha</label>
				</div>
			</div>
			
			<button type="submit" name="action" class="btn btn-large blue waves-effect waves-light col s12">Cadastrar</button>
		</form>
		
			
		<div class="row">
			<div class="input-field col s12">
				<a href="#login">Entrar</a>
			</div>
		</div>
		
		
	
	</div> <!-- ./container-->
</main>